@charset "UTF-8";


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("images/wallpaper002.jpg");
}

.square{
    background-color: cyan;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.377); 
    display: inline-block;
    height: 300px;
    width: 300px;
}

#s1 {
    background-color: rgb(20, 109, 109);
}

#s2{
    background-image: linear-gradient(to left, black, white);
}

#s3{
    background-image: url("images/pattern003.png");
}